<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>
    <body>
        {{> header}}
        <h1>{{pageTitle}}</h1>
        <p>{{doUpperCase welcomeMessage}}</p>

        {{> footer}}
    </body>
</html>